<div class="jumbotron">
        <div class="row heading">
        <h1 class="heading-title">Private Transportation</h1>
        <p class="hidden-sm-down">Personal, hands-on assistance is the essence of our door through-door transportation services.</p>
        </div>
      </div>
      <div class= "row">
        <div class="col-md-8">
           <h1>Peace of Mind</h1>
            <p class="words">As the senior population grows and their ability to drive diminishes, the need for alternate forms of transportation will become an important issue. Family, friends and local organizations are there to help but scheduling conflicts often make it challenging for everyone involved.  At Seniors On The Go, we are here to help empower seniors and disabled persons with independence and caregivers with peace of mind. </p>
          </div>
          <div class="col-md-4">
         <div class="card card-inverse card-primary text-xs-center"> <a href="#">
            <div class="card-block">
              <blockquote class="card-blockquote">
                <h3>TRANSPORTATION</h3>
              </blockquote>
            </div></a>
        </div>
                 <div class="card card-inverse card-primary text-xs-center"> <a href="#">
            <div class="card-block">
              <blockquote class="card-blockquote">
                <h3>MEDICAL COMPANION</h3>
              </blockquote>
            </div></a>
        </div>
                 <div class="card card-inverse card-primary text-xs-center"> <a href="#">
            <div class="card-block">
              <blockquote class="card-blockquote">
                <h3>GROCERY DELIVERY</h3>
              </blockquote>
            </div></a>
        </div>
                 <div class="card card-inverse card-primary text-xs-center"> <a href="#">
            <div class="card-block">
              <blockquote class="card-blockquote">
                <h3>TRANSPORTATION</h3>
              </blockquote>
            </div></a>
        </div>
                 <div class="card card-inverse card-primary text-xs-center"> <a href="#">
            <div class="card-block">
              <blockquote class="card-blockquote">
                <h3>TRANSPORTATION</h3>
              </blockquote>
            </div></a>
        </div>
                 <div class="card card-inverse card-primary text-xs-center"> <a href="#">
            <div class="card-block">
              <blockquote class="card-blockquote">
                <h3>TRANSPORTATION</h3>
              </blockquote>
            </div></a>
        </div>
                 <div class="card card-inverse card-primary text-xs-center"> <a href="#">
            <div class="card-block">
              <blockquote class="card-blockquote">
                <h3>TRANSPORTATION</h3>
              </blockquote>
            </div></a>
        </div>
          </div>
        </div>

        <footer class="text-muted">
      <div class="container">
        <p class="pull-xs-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>
    </div> <!-- /container -->